.initial-form{
    background-color: #cfcfcf;
    border-radius: 40px;
    width: 30%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}


